.row__social
	p !{site.data.defaults.conference.social_follow}
	a(href=site.data.defaults.conference.social_fb_url target="_blank" role="button" rel="noopener noreferrer external" aria-label="facebook")
		.social-icon
			include ../../source/assets/ico/ico-social-facebook.svg
	a(href=site.data.defaults.conference.social_twitter_url target="_blank" role="button" rel="noopener noreferrer external" aria-label="twitter")
		.social-icon
			include ../../source/assets/ico/ico-social-twitter.svg
	a(href=site.data.defaults.conference.social_vimeo_url target="_blank" role="button" rel="noopener noreferrer external" aria-label="vimeo")
		.social-icon
			include ../../source/assets/ico/ico-social-vimeo.svg
	a(href=site.data.defaults.conference.social_youtube_url target="_blank" role="button" rel="noopener noreferrer external" aria-label="youtube")
		.social-icon
			include ../../source/assets/ico/ico-social-youtube.svg
	a(href=site.data.defaults.conference.social_linkedin_url target="_blank" role="button" rel="noopener noreferrer external" aria-label="linkedin")
		.social-icon
			include ../../source/assets/ico/ico-social-linkedin.svg
	a(href=site.data.defaults.conference.social_instagram_url target="_blank" role="button" rel="noopener noreferrer external" aria-label="instagram")
		.social-icon
			include ../../source/assets/ico/ico-social-instagram.svg			
