footer
  - contact_url = "mailto:" + site.data.defaults.conference.contact_email
  .columns.inner
    .column.first.is-one-third

      - var start_date = ""
      - var where = ""
      if(site.data.defaults.conference.is_online_only === true)
        - start_date = date(site.data.defaults.conference.date, config.date_format_hero_online)
        - where = site.data.defaults.conference.online_location
      else
        - start_date = date(site.data.defaults.conference.date, config.date_format_hero)
        - where = site.data.defaults.conference.city

      p.footer__p_padded 
        strong !{where}
          | ,&nbsp;
          time(datetime=site.data.defaults.conference.date) !{start_date}
      p !{site.data.defaults.conference.past_editions_pre}
      p
        each item in site.data.defaults.conference.past_editions 
          - url = "https://" + item + "." + site.data.defaults.conference.base_url
          a(href=url target="_blank" rel="noopener noreferrer").past-edition !{item}
      p !{site.data.defaults.conference.past_editions_videos_pre}
        a(href=site.data.defaults.conference.social_vimeo_url) !{site.data.defaults.conference.past_editions_videos_vimeo_label}
        | !{site.data.defaults.conference.past_editions_videos_mid}
        a(href=site.data.defaults.conference.social_youtube_url) !{site.data.defaults.conference.past_editions_videos_youtube_label}
        | !{site.data.defaults.conference.past_editions_videos_post}

      include _social.pug
    .column.is-one-third
      nav(role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement" aria-label="Footer menu")
        ul
          each page_label, page_key in theme.menu
            li
              a(href=url_for(page_key) role="button" aria-label=page_label) !{page_label}
          if (site.data.defaults.conference.ticket_button_visible)
            li
              a(href=site.data.defaults.conference.buy_tickets_url target="_blank" rel="noopener noreferrer external" role="button" aria-label=site.data.defaults.conference.buy_tickets_label) !{site.data.defaults.conference.menu_buy_tickets_label}
    .column.is-one-third
      .footer__logo
        include ../../../../source/img/grusp-logo-full.svg
  .columns.inner.is-centered
    .column
      p !{site.data.defaults.conference.title} !{site.data.defaults.conference.footer_copy_text}
      p !{site.data.defaults.conference.footer_contact_text}
        a(href=contact_url role="button" rel="external") !{site.data.defaults.conference.contact_email}

      p !{site.data.defaults.conference.footer_links_pre}
        - privacy_policy_url = site.data.defaults.conference.privacy_policy_url_common + site.data.defaults.conference.iubenda.cookiePolicyId
        a(href=privacy_policy_url target="_blank" rel="noopener noreferrer") !{site.data.defaults.conference.footer_links_privacy_link_label}
        | #{site.data.defaults.conference.footer_link_middle}
        a(href="/welcome/coc.html") !{site.data.defaults.conference.footer_coc_link_label}

a(href="#" role="button" aria-label="back to top")
  .back-to-top(id="back_to_top").is-hidden
    .chevron
script(type="text/javascript" src='/assets/js/back_to_top.js')

// GrUSP Partners
script(src=`//www.grusp.org/helpers/${config.edition}/partners.js` async)
